In [8]:
#Day11 p.233 ~ 데이터베이스로 작업하기

#SQLite로 디비 설계

import sqlite3

#디비 연결
with sqlite3.connect(":memory:") as con:
    
    #커서 생성
    c = con.cursor()
    
    #테이블 생성
    c.execute('''CREATE TABLE sensors(date text, city text, code text, sensor_id real, temperature real)''')
        
    #테이블 호출
    for table in c.execute("SELECT name FROM sqlite_master WHERE type = 'table'"):
        print("Table", table[0])
    
    #DB 추가
    c.execute("INSERT INTO sensors VALUES('2016-11-05', 'Utrecht', 'Red', 42, 15.14)")
    c.execute("SELECT *FROM sensors")
    
    #테이블 호출
    print(c.fetchone())
    
    c.execute("DROP TABLE sensors")
    
    print("# of tablaes", c.execute("SELECT COUNT(*) FROM sqlite_master WHERE type = 'table'").fetchone()[0])
    
    c.close()

Table sensors
('2016-11-05', 'Utrecht', 'Red', 42.0, 15.14)
# of tablaes 0

In [12]:
#pandas 데이터 베이스 접근

import statsmodels.api as sm
from pandas.io.sql import read_sql
import sqlite3

with sqlite3.connect(":memory:") as con:
    c = con.cursor()
    
    data_loader = sm.dataset.sunspots.load_pandas()
    df = data_loader.data
    rows = [tuple(x) for x in df.values]
    
    con.execute("CREATE TABLE sunspots(year, sunactivity)")
    con.execitemany("INSERT INTO sunspots(year, sunactivity) VALUES (?, ?)", rows)
    c.execute("SELECT COUNT(*) FROM sunspots")
    print(c.fetchone())
    print("Deleted", con.execute("DELETE FORM sunpots where sunactivity > 20"), rowcount, "rows")
    print(read_sql("SELECT * FROM susspots where year < 1732", con))
    con.execute("DROP TABLE sunspots")
    c.close()

AttributeError: module 'statsmodels.api' has no attribute 'dataset'