In [1]:
#Day06 p.108~ 19:45 ~

import pandas as pd
from numpy.random import seed
from numpy.random import rand
from numpy.random import randint
import numpy as np

seed(42)

df = pd.DataFrame({'Weather':['cold','hot', 'cold', 'hot', 'cold', 'hot', 'cold'], 
                   'Food' : ['soup', 'soup', 'icecream', 'chocolate', 'icecream', 'icecream', 'soup'], 
                   'Price' : 10 * rand(7), 
                   'Number' : randint(1, 9,)})
print(df)

        Food  Number     Price Weather
0       soup       8  3.745401    cold
1       soup       8  9.507143     hot
2   icecream       8  7.319939    cold
3  chocolate       8  5.986585     hot
4   icecream       8  1.560186    cold
5   icecream       8  1.559945     hot
6       soup       8  0.580836    cold

In [2]:
#첫번째 부터 3번째가 나오게 하기
print("df : 3\n", df[:3])

df : 3
        Food  Number     Price Weather
0      soup       8  3.745401    cold
1      soup       8  9.507143     hot
2  icecream       8  7.319939    cold

In [4]:
#데이터 프레임 합치기
print("Concat Back together\n", pd.concat([df[:3], df[3:]]))

Concat Back together
         Food  Number     Price Weather
0       soup       8  3.745401    cold
1       soup       8  9.507143     hot
2   icecream       8  7.319939    cold
3  chocolate       8  5.986585     hot
4   icecream       8  1.560186    cold
5   icecream       8  1.559945     hot
6       soup       8  0.580836    cold

In [5]:
#데이터 프레임 추가하기
print("Appending rows\n", df[:3].append(df[5:]))

Appending rows
        Food  Number     Price Weather
0      soup       8  3.745401    cold
1      soup       8  9.507143     hot
2  icecream       8  7.319939    cold
5  icecream       8  1.559945     hot
6      soup       8  0.580836    cold

In [6]:
#데이터 프레임 조인

        Food  Number     Price Weather
0       soup       8  3.745401    cold
1       soup       8  9.507143     hot
2   icecream       8  7.319939    cold
3  chocolate       8  5.986585     hot
4   icecream       8  1.560186    cold
5   icecream       8  1.559945     hot
6       soup       8  0.580836    cold