In [8]:
#Day11 p.233 ~ 데이터베이스로 작업하기

#SQLite로 디비 설계

import sqlite3

#디비 연결
with sqlite3.connect(":memory:") as con:
    
    #커서 생성
    c = con.cursor()
    
    #테이블 생성
    c.execute('''CREATE TABLE sensors(date text, city text, code text, sensor_id real, temperature real)''')
        
    #테이블 호출
    for table in c.execute("SELECT name FROM sqlite_master WHERE type = 'table'"):
        print("Table", table[0])
    
    #DB 추가
    c.execute("INSERT INTO sensors VALUES('2016-11-05', 'Utrecht', 'Red', 42, 15.14)")
    c.execute("SELECT *FROM sensors")
    
    #테이블 호출
    print(c.fetchone())
    
    c.execute("DROP TABLE sensors")
    
    print("# of tablaes", c.execute("SELECT COUNT(*) FROM sqlite_master WHERE type = 'table'").fetchone()[0])
    
    c.close()

Table sensors
('2016-11-05', 'Utrecht', 'Red', 42.0, 15.14)
# of tablaes 0

In [6]:
#pandas 데이터 베이스 접근
#데이터 프레임 형태로 나열됨.

import statsmodels.api as sm
from pandas.io.sql import read_sql
import sqlite3

with sqlite3.connect(":memory:") as con:
    c = con.cursor()
    
    data_loader = sm.datasets.sunspots.load_pandas()
    df = data_loader.data
    rows = [tuple(x) for x in df.values]
    
    con.execute("CREATE TABLE sunspots(year, sunactivity)")
    con.executemany("INSERT INTO sunspots(year, sunactivity) VALUES (?, ?)", rows)
    c.execute("SELECT COUNT(*) FROM sunspots")
    print(c.fetchone())
    print("Deleted", con.execute("DELETE FROM sunspots where sunactivity > 20").rowcount, "rows")
    print(read_sql("SELECT * FROM sunspots where year < 1732", con))
    con.execute("DROP TABLE sunspots")
    c.close()

(309,)
Deleted 217 rows
      year  sunactivity
0   1700.0          5.0
1   1701.0         11.0
2   1702.0         16.0
3   1707.0         20.0
4   1708.0         10.0
5   1709.0          8.0
6   1710.0          3.0
7   1711.0          0.0
8   1712.0          0.0
9   1713.0          2.0
10  1714.0         11.0
11  1723.0         11.0

In [9]:
#SQLAlchemy
#pip install sqlalchemy

from sqlalchemy import Column, ForeignKey, Integer, String, Float
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy.orm import relationship
from sqlalchemy import create_engine
from sqlalchemy import UniqueConstraint

Base = declarative_base()
class Station(Base):
    __tablename__ = 'station'
    id = Column(Integer, primary_key=True)
    name = Column(String(14), nullable=False, unique=True)

    def __repr__(self):
        return "Id=%d name=%s" %(self.id, self.name)

class Sensor(Base):
    __tablename__ = 'sensor'
    id = Column(Integer, primary_key=True)
    last = Column(Integer)
    multiplier = Column(Float)
    station_id = Column(Integer, ForeignKey('station.id'))
    station = relationship(Station)

    def __repr__(self):
        return "Id=%d last=%d multiplier=%.1f station_id=%d" 
# %(self.id, self.last, self.multiplier, self.station_id)

if __name__ == "__main__":
    print("This script is used by code further down in this notebook.")

from sqlalchemy import create_engine
from sqlalchemy.orm import sessionmaker

#from alchemy_entities import Base, Sensor, Station

def populate(engine):
    Base.metadata.bind = engine

    DBSession = sessionmaker(bind=engine)
    session = DBSession()

    de_bilt = Station(name='De Bilt')
    session.add(de_bilt)
    session.add(Station(name='Utrecht'))
    session.commit()
    print("Station", de_bilt)

    temp_sensor = Sensor(last=20, multiplier=.1, station=de_bilt)
    session.add(temp_sensor)
    session.commit()
    print("Sensor", temp_sensor)

if __name__ == "__main__":
    print("This script is used by code further down in this notebook")

#데이터 처리하기

#from alchemy_entities import Base, Sensor, Station
#from populate_db import populate
from sqlalchemy import create_engine
from sqlalchemy.orm import sessionmaker
import os
from pandas.io.sql import read_sql


engine = create_engine('sqlite:///demo.db')
Base.metadata.create_all(engine)
populate(engine)
Base.metadata.bind = engine
DBSession = sessionmaker()
DBSession.bind = engine
session = DBSession()

station = session.query(Station).first()

print("Query 1", session.query(Station).all())
print("Query 2", session.query(Sensor).all())
print("Query 3", session.query(Sensor).filter(Sensor.station == station).one())
print(read_sql("SELECT * FROM station", engine.raw_connection()))

try:
    os.remove('demo.db')
    print("Deleted demo.db")
except OSError:
    pass

This script is used by code further down in this notebook.
This script is used by code further down in this notebook
Station Id=1 name=De Bilt
Sensor Id=%d last=%d multiplier=%.1f station_id=%d
Query 1 [Id=1 name=De Bilt, Id=2 name=Utrecht]
Query 2 [Id=%d last=%d multiplier=%.1f station_id=%d]
Query 3 Id=%d last=%d multiplier=%.1f station_id=%d
   id     name
0   1  De Bilt
1   2  Utrecht
Deleted demo.db

In [10]:
#Pony ORM
#pip install pony

from pony.orm import Database, db_session
import statsmodels.api as sm

#메모리상의 sqlite 생성
db = Database('sqlite', ':memory:')

#테이블의 행의 개수를 출력
with db_session:
    data_loader = sm.datasets.sunspots.load_pandas()
    df = data_loader.data
    df.to_sql("sunspots", db.get_connection())
    print(db.select("count(*) FROM sunspots"))

[309]

In [12]:
#dataset DB
#pip install dataset

import dataset
from pandas.io.sql import read_sql
from pandas.io.sql import to_sql
import statsmodels.api as sm

#연결
db = dataset.connect('sqlite:///:memory:')

#테이블 생성
table = db["books"]
table.insert(dict(title="NumPy Beginner's Guide", author='Ivan Idris'))
table.insert(dict(title="NumPy Cookbook", author='Ivan Idris'))
table.insert(dict(title="Learning NumPy", author='Ivan Idris'))

for row in db['books']:
    print(row)
    

print("Tables", db.tables)

OrderedDict([('id', 1), ('author', 'Ivan Idris'), ('title', "NumPy Beginner's Guide")])
OrderedDict([('id', 2), ('author', 'Ivan Idris'), ('title', 'NumPy Cookbook')])
OrderedDict([('id', 3), ('author', 'Ivan Idris'), ('title', 'Learning NumPy')])
Tables ['books']

In [ ]:
#Mongo DB
#pip install pymongo

In [19]:
from pymongo import MongoClient
import statsmodels.api as sm
import json
import pandas as pd

client= MongoClient()
db = client.test_database

#데이터 프레임을 json 만들기
data_loader = sm.datasets.sunspots.load_pandas()
df = data_loader.data
rows = json.loads(df.T.to_json()).values()
db.sunspots.insert(rows)

#json 도큐먼트 처리함.
cursor = db['sunspots'].find({})
df = pd.DataFrame(list(cursor))
print(df)

db.drop_collection('sunspots')

      SUNACTIVITY    YEAR                       _id
0            26.2  1897.0  5c626a3a8486280270bd0579
1            41.0  1794.0  5c626a3a8486280270bd057a
2            64.6  1840.0  5c626a3a8486280270bd057b
3           104.0  2002.0  5c626a3a8486280270bd057c
4           121.5  1836.0  5c626a3a8486280270bd057d
5            30.6  1774.0  5c626a3a8486280270bd057e
6             4.0  1822.0  5c626a3a8486280270bd057f
7            83.4  1750.0  5c626a3a8486280270bd0580
8             5.0  1733.0  5c626a3a8486280270bd0581
9            23.0  1703.0  5c626a3a8486280270bd0582
10           15.2  2006.0  5c626a3a8486280270bd0583
11           80.9  1749.0  5c626a3a8486280270bd0584
12          125.9  1779.0  5c626a3a8486280270bd0585
13           63.5  1905.0  5c626a3a8486280270bd0586
14          136.3  1948.0  5c626a3a8486280270bd0587
15           79.7  1936.0  5c626a3a8486280270bd0588
16            4.4  1954.0  5c626a3a8486280270bd0589
17           66.2  1873.0  5c626a3a8486280270bd058a
18           37.6  1962.0  5c626a3a8486280270bd058b
19           98.5  1847.0  5c626a3a8486280270bd058c
20          109.6  1938.0  5c626a3a8486280270bd058d
21           49.6  1827.0  5c626a3a8486280270bd058e
22            5.7  1933.0  5c626a3a8486280270bd058f
23           21.2  1931.0  5c626a3a8486280270bd0590
24           63.9  1926.0  5c626a3a8486280270bd0591
25          124.7  1848.0  5c626a3a8486280270bd0592
26            5.0  1902.0  5c626a3a8486280270bd0593
27           13.9  1814.0  5c626a3a8486280270bd0594
28           25.4  1886.0  5c626a3a8486280270bd0595
29           26.0  1721.0  5c626a3a8486280270bd0596
...           ...     ...                       ...
1206         27.5  1832.0  5c626ad58486280270bd0a32
1207         66.6  1971.0  5c626ad58486280270bd0a33
1208        111.2  1871.0  5c626ad58486280270bd0a34
1209         40.0  1747.0  5c626ad58486280270bd0a35
1210        154.4  1778.0  5c626ad58486280270bd0a36
1211         82.9  1786.0  5c626ad58486280270bd0a37
1212         84.8  1780.0  5c626ad58486280270bd0a38
1213         45.0  1802.0  5c626ad58486280270bd0a39
1214          7.1  1890.0  5c626ad58486280270bd0a3a
1215        111.0  1738.0  5c626ad58486280270bd0a3b
1216        141.7  1956.0  5c626ad58486280270bd0a3c
1217         47.4  1915.0  5c626ad58486280270bd0a3d
1218         81.0  1737.0  5c626ad58486280270bd0a3e
1219         35.0  1731.0  5c626ad58486280270bd0a3f
1220         54.8  1858.0  5c626ad58486280270bd0a40
1221          8.0  1709.0  5c626ad58486280270bd0a41
1222         63.0  1717.0  5c626ad58486280270bd0a42
1223         40.1  1845.0  5c626ad58486280270bd0a43
1224         40.4  2004.0  5c626ad58486280270bd0a44
1225         40.0  1741.0  5c626ad58486280270bd0a45
1226         22.0  1722.0  5c626ad58486280270bd0a46
1227         64.3  1998.0  5c626ad58486280270bd0a47
1228        101.0  1739.0  5c626ad58486280270bd0a48
1229         62.0  1907.0  5c626ad58486280270bd0a49
1230         24.4  1903.0  5c626ad58486280270bd0a4a
1231         16.3  1866.0  5c626ad58486280270bd0a4b
1232        140.4  1981.0  5c626ad58486280270bd0a4c
1233        115.9  1982.0  5c626ad58486280270bd0a4d
1234         11.0  1732.0  5c626ad58486280270bd0a4e
1235        139.0  1870.0  5c626ad58486280270bd0a4f

[1236 rows x 3 columns]

/Users/siyeon/.pyenv/versions/3.5.2/lib/python3.5/site-packages/ipykernel_launcher.py:13: DeprecationWarning: insert is deprecated. Use insert_one or insert_many instead.
  del sys.path[0]

{'nIndexesWas': 1, 'ns': 'test_database.sunspots', 'ok': 1.0}

In [22]:
#Redis 데이터 저장 
#pip install redis

import redis
import statsmodels.api as sm
import pandas as pd
import json

r = redis.StrictRedis()
data_loader = sm.datasets.sunspots.load_pandas()
df = data_loader.data
data = df.T.to_json()
r.set('sunspots', data)
blob = r.get('sunspots')
#데이터 검색
print(pd.read_json(blob))

              0     1     10      100   101   102     103     104     105  \
SUNACTIVITY     5    11     3    14.5    34    45    43.1    47.5    42.2
YEAR         1700  1701  1710  1800.0  1801  1802  1803.0  1804.0  1805.0

                106  ...     90      91    92      93    94      95    96   \
SUNACTIVITY    28.1  ...    89.9    66.6    60    46.9    41    21.3    16
YEAR         1806.0  ...  1790.0  1791.0  1792  1793.0  1794  1795.0  1796

                97      98      99
SUNACTIVITY     6.4     4.1     6.8
YEAR         1797.0  1798.0  1799.0

[2 rows x 309 columns]

In [23]:
import memcache
import statsmodels.api as sm
import pandas as pd

client = memcache.Client([('127.0.0.1', 11211)])
data_loader = sm.datasets.sunspots.load_pandas()
df = data_loader.data
data = df.T.to_json()
client.set('sunspots', data, time=600)
print("Stored data to memcached, auto-expire after 600 seconds")
blob = client.get('sunspots')
print(pd.read_json(blob))

ImportError: No module named 'memcache'

In [ ]:
from cassandra import ConsistencyLevel
from cassandra.cluster import Cluster
from cassandra.query import SimpleStatement
import statsmodels.api as sm

cluster = Cluster()
session = cluster.connect()
session.execute("CREATE KEYSPACE IF NOT EXISTS mykeyspace WITH REPLICATION = { 'class' : 'SimpleStrategy', 'replication_factor' : 1 };")
session.set_keyspace('mykeyspace')
session.execute("CREATE TABLE IF NOT EXISTS sunspots (year decimal PRIMARY KEY, sunactivity decimal);")

query = SimpleStatement(
    "INSERT INTO sunspots (year, sunactivity) VALUES (%s, %s)",
    consistency_level=ConsistencyLevel.QUORUM)

data_loader = sm.datasets.sunspots.load_pandas()
df = data_loader.data
rows = [tuple(x) for x in df.values]
for row in rows:
    session.execute(query, row)

rows=session.execute("SELECT COUNT(*) FROM sunspots")
for row in rows:
    print(row)

session.execute('DROP KEYSPACE mykeyspace') 
cluster.shutdown()