In [3]:
# Day 07 p110 ~ 121  (18:50~19:50)
# 데이터 프레임 조인
import pandas as pd

#csv 파일 읽기
dests = pd.read_csv('dest.csv')
print("Dests\n", dests)

tips = pd.read_csv('tips.csv')
print("Tips\n", tips)

#조인
print("Merge() on key\n", pd.merge(dests, tips, on ='EmpNr'))

Dests
    EmpNr       Dest
0      5  The Hague
1      3  Amsterdam
2      9  Rotterdam
Tips
    EmpNr  Amount
0      5    10.0
1      9     5.0
2      7     2.5
Merge() on key
    EmpNr       Dest  Amount
0      5  The Hague    10.0
1      9  Rotterdam     5.0

In [5]:
print("Dests join() tips\n", dests.join(tips, lsuffix='Dest', rsuffix = 'Tips'))

Dests join() tips
    EmpNrDest       Dest  EmpNrTips  Amount
0          5  The Hague          5    10.0
1          3  Amsterdam          9     5.0
2          9  Rotterdam          7     2.5

In [6]:
print("Inner join with merge()\n", pd.merge(dests, tips, how = 'inner'))

Inner join with merge()
    EmpNr       Dest  Amount
0      5  The Hague    10.0
1      9  Rotterdam     5.0

In [7]:
print("Outer join \n", pd.merge(dests, tips, how='outer'))

Outer join
    EmpNr       Dest  Amount
0      5  The Hague    10.0
1      3  Amsterdam     NaN
2      9  Rotterdam     5.0
3      7        NaN     2.5

In [10]:
#누락된 데이터 다루기
df = pd.read_csv('WHO_first9cols.csv')

df = df[['Country', df.columns[-2]]][:2]
print("New df\n",df)

New df
        Country  Net primary school enrolment ratio male (%)
0  Afghanistan                                          NaN
1      Albania                                         94.0

In [12]:
print("Null Values\n", pd.isnull(df))

Null Values
    Country  Net primary school enrolment ratio male (%)
0    False                                         True
1    False                                        False

In [13]:
print("Not null Values\n", df.notnull())

Not null Values
    Country  Net primary school enrolment ratio male (%)
0     True                                        False
1     True                                         True

In [15]:
print("Last Column Doubled\n", 2 * df[df.columns[-1]])

Last Column Doubled
 0      NaN
1    188.0
Name: Net primary school enrolment ratio male (%), dtype: float64

In [17]:
import numpy as np
print("Last Column plus NaN\n", df[df.columns[-1]]+np.nan)

Last Column plus NaN
 0   NaN
1   NaN
Name: Net primary school enrolment ratio male (%), dtype: float64

In [18]:
print("Zero filled\n", df.fillna(0))

Zero filled
        Country  Net primary school enrolment ratio male (%)
0  Afghanistan                                          0.0
1      Albania                                         94.0

In [19]:
df

       Country  Net primary school enrolment ratio male (%)
0  Afghanistan                                          NaN
1      Albania                                         94.0

In [20]:
#날짜 다루기
# 1900년 1월 1일 부터 42일 동안의 범위 날짜 생성
print("Date range", pd.date_range('1/1/1900', periods=42, freq ='D'))

Date range DatetimeIndex(['1900-01-01', '1900-01-02', '1900-01-03', '1900-01-04',
               '1900-01-05', '1900-01-06', '1900-01-07', '1900-01-08',
               '1900-01-09', '1900-01-10', '1900-01-11', '1900-01-12',
               '1900-01-13', '1900-01-14', '1900-01-15', '1900-01-16',
               '1900-01-17', '1900-01-18', '1900-01-19', '1900-01-20',
               '1900-01-21', '1900-01-22', '1900-01-23', '1900-01-24',
               '1900-01-25', '1900-01-26', '1900-01-27', '1900-01-28',
               '1900-01-29', '1900-01-30', '1900-01-31', '1900-02-01',
               '1900-02-02', '1900-02-03', '1900-02-04', '1900-02-05',
               '1900-02-06', '1900-02-07', '1900-02-08', '1900-02-09',
               '1900-02-10', '1900-02-11'],
              dtype='datetime64[ns]', freq='D')

In [24]:
#1677년  1월 1일 대신 1677년 9월 30일 정의

import sys

try:
    print("Date range", pd.date_range('1/1/1677', periods=4, freq = 'D'))
except:
    etype, value, _ = sys.exc_info()
    print("Error encountered", etype, value)

Error encountered <class 'pandas._libs.tslibs.np_datetime.OutOfBoundsDatetime'> Out of bounds nanosecond timestamp: 1677-01-01 00:00:00

In [28]:
offset = pd.DateOffset(seconds= 2 ** 33/10 ** 9)
mid = pd.to_datetime('1/1/1970')
print("Start valid range", mid - offset)
print("End valid range", mid + offset)

Start valid range 1969-12-31 23:59:51.410065
End valid range 1970-01-01 00:00:08.589935

In [32]:
print("With format", pd.to_datetime(['19021112', '19031230'], format='%Y%m%d'))

With format DatetimeIndex(['1902-11-12', '1903-12-30'], dtype='datetime64[ns]', freq=None)

In [35]:
# 날짜가 아닌 문자열은 변환이 안된다. errors='coerce'를 추가해보자.
print("Illegal date", pd.to_datetime(['1902-11-12', 'not a date']) )

ValueError: ('Unknown string format:', 'not a date')

In [36]:
print("Illegal date coerced", pd.to_datetime(['1902-11-12', 'not a date'], errors='coerce'))

Illegal date coerced DatetimeIndex(['1902-11-12', 'NaT'], dtype='datetime64[ns]', freq=None)

In [38]:
#피벗 테이블
import pandas as pd
from numpy.random import seed
from numpy.random import rand
from numpy.random import randint
import numpy as np

seed(42)
N = 7
df = pd.DataFrame({'Weather' : ['cold', 'hot', 'cold', 'hot', 'cold', 'hot', 'cold'],
                   'Food' : ['soup', 'soup', 'icecream', 'chocolate', 'icecream', 'icecream', 'soup'],
                   'Price' : 10 * rand(N), 
                   'Number' : randint(1, 9)})

In [39]:
df

        Food  Number     Price Weather
0       soup       8  3.745401    cold
1       soup       8  9.507143     hot
2   icecream       8  7.319939    cold
3  chocolate       8  5.986585     hot
4   icecream       8  1.560186    cold
5   icecream       8  1.559945     hot
6       soup       8  0.580836    cold

In [43]:
#음식 별로 총합을 계산한 피벗 테이블
print(pd.pivot_table(df, columns=['Food'], aggfunc=np.sum))

Food    chocolate   icecream      soup
Number   8.000000  24.000000  24.00000
Price    5.986585  10.440071  13.83338