In [2]:
import pandas as pd

In [3]:
a = pd.Series([1,2,3,4])
a

0    1
1    2
2    3
3    4
dtype: int64

In [4]:
a.values

array([1, 2, 3, 4])

In [5]:
#인덱스 내용 바꾸기
a.index = ['a', 'b', 'c', 'd']
a

a    1
b    2
c    3
d    4
dtype: int64

In [6]:
a['a']

1

In [7]:
a > 2

a    False
b    False
c     True
d     True
dtype: bool

In [8]:
a[a>2]

c    3
d    4
dtype: int64

In [9]:
a * 2

a    2
b    4
c    6
d    8
dtype: int64

In [10]:
#파이썬에서 None은 NULL이라고 생각하면 됨.
dict_a = {
    '이름': '황시연',
    '직업': '개발자',
    '취미': '컴퓨터',
    '약점': None
}

b = pd.Series(dict_a)

In [11]:
b['이름']

'황시연'

In [12]:
#비어 있는 것에 대해 확인 가능하다.
b.isnull()

이름    False
직업    False
취미    False
약점     True
dtype: bool

In [17]:
#2의 배수이면서 0부터 30까지 정수를 가진 시리즈 se1을 만들어라
sel = pd.Series(range(16))
sel = sel *2
print(sel)

0      0
1      2
2      4
3      6
4      8
5     10
6     12
7     14
8     16
9     18
10    20
11    22
12    24
13    26
14    28
15    30
dtype: int64

In [18]:
#sel 인덱스도 데이터와 같은 값으로 만들어라
sel.index = [sel]
print(sel)

0      0
2      2
4      4
6      6
8      8
10    10
12    12
14    14
16    16
18    18
20    20
22    22
24    24
26    26
28    28
30    30
dtype: int64

In [19]:
#sel 값 중에 4의 배수인값에 None을 삽입하라
sel[sel % 4 == 0] = None
print(sel)

0      NaN
2      2.0
4      NaN
6      6.0
8      NaN
10    10.0
12     NaN
14    14.0
16     NaN
18    18.0
20     NaN
22    22.0
24     NaN
26    26.0
28     NaN
30    30.0
dtype: float64

In [20]:
#sel의 값이 None인지 확인하라
print(sel.isnull())

0      True
2     False
4      True
6     False
8      True
10    False
12     True
14    False
16     True
18    False
20     True
22    False
24     True
26    False
28     True
30    False
dtype: bool