In [4]:
import pymysql
import pandas as pd

In [7]:
conn = pymysql.connect(host = '116.125.46.109', 
                       port =27360,
                       db='mysql', 
                       user = 'root', 
                       password ='tldus12!@')
sql = "select * from user"
pd.read_sql_query(sql, conn)

,Host,User,Password,Select_priv,Insert_priv,Update_priv,Delete_priv,Create_priv,Drop_priv,Reload_priv,...,max_questions,max_updates,max_connections,max_user_connections,plugin,authentication_string,password_expired,is_role,default_role,max_statement_time
0,localhost,root,*35FDD902EFC3F979D0978463E6BD855C9CAA0AE9,Y,Y,Y,Y,Y,Y,Y,...,0,0,0,0,mysql_native_password,*35FDD902EFC3F979D0978463E6BD855C9CAA0AE9,N,N,,0.0
1,%,jiny,,Y,Y,Y,Y,Y,Y,Y,...,0,0,0,0,,*35FDD902EFC3F979D0978463E6BD855C9CAA0AE9,N,N,,0.0
2,%,root,*35FDD902EFC3F979D0978463E6BD855C9CAA0AE9,Y,Y,Y,Y,Y,Y,Y,...,0,0,0,0,,,N,N,,0.0
3,127.0.0.1,jiny,,Y,Y,Y,Y,Y,Y,Y,...,0,0,0,0,,*35FDD902EFC3F979D0978463E6BD855C9CAA0AE9,N,N,,0.0
4,116.125.46.109,jiny,,Y,Y,Y,Y,Y,Y,Y,...,0,0,0,0,,*35FDD902EFC3F979D0978463E6BD855C9CAA0AE9,N,N,,0.0