In [1]:
from sklearn.datasets import load_iris

iris = load_iris()
x = iris["data"]
y = iris["target"]

In [2]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x,y, test_size =0.2, random_state =0)

In [3]:
from sklearn.cluster import KMeans
kms = KMeans(n_clusters=3)
kms.fit(x_train)
kms.score(x_train, x_test)

-63.19666666666736

In [4]:
kms.predict(x_test), y_test

(array([0, 0, 1, 2, 1, 2, 1, 0, 0, 0, 2, 0, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0,
        1, 1, 0, 1, 1, 0, 0, 1], dtype=int32),
 array([2, 1, 0, 2, 0, 2, 0, 1, 1, 1, 2, 1, 1, 1, 1, 0, 1, 1, 0, 0, 2, 1,
        0, 0, 2, 0, 0, 1, 1, 0]))

In [5]:
import pandas as pd
pd.DataFrame([kms.predict(x_test), y_test], index=['예측값', '실제값'] )

,0,1,2,3,4,5,6,7,8,9,...,20,21,22,23,24,25,26,27,28,29
예측값,0,0,1,2,1,2,1,0,0,0,...,0,0,1,1,0,1,1,0,0,1
실제값,2,1,0,2,0,2,0,1,1,1,...,2,1,0,0,2,0,0,1,1,0

In [6]:
from sklearn import metrics

1년 미만의 인증서는 고위험 군에 속한다.
=> 분석가